.user-card-container {
  display: flex;
  align-items: center;
  border-radius: 12px;
  border-bottom: 30px;
  margin-bottom: 15px;
}
.avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.user-details-container {
  margin-left: 12px;
}
.user-name {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #12022f;
  margin-top: 0px;
  margin-bottom: 8px;
}
.user-role {
  font-family: 'Roboto';
  font-size: 14px;
  color: #594d6d;
  margin: 0px;
}
